.newProduct {
  flex: 4;
}

.addProductForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.addProductItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addProductItem label {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.addProductItem input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.addProductItem select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.addProductButton {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-top: 20px;
  cursor: pointer;
}

.addProductButton:hover {
  background-color: #3e8e41;
}

